In [3]:
import pandas as pd
# Import and read the data
state_df = pd.read_csv("../Resources/state_pop_per_10yrs.csv")
state_df.head(10)

,State,State_Full,Geography Type,Year,Resident Population,Percent Change in Resident Population,Resident Population Density,Resident Population Density Rank,Number of Representatives,Change in Number of Representatives,Average Apportionment Population Per Representative,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AL,Alabama,State,1910,"2,138,093",16.9,42.2,25.0,10.0,1.0,"213,809",NaN,NaN,NaN
1,AL,Alabama,State,1920,"2,348,174",9.8,46.4,25.0,10.0,0.0,"234,817",NaN,NaN,NaN
2,AL,Alabama,State,1930,"2,646,248",12.7,52.3,24.0,9.0,-1.0,"294,027",NaN,NaN,NaN
3,AL,Alabama,State,1940,"2,832,961",7.1,55.9,23.0,9.0,0.0,"314,773",NaN,NaN,NaN
4,AL,Alabama,State,1950,"3,061,743",8.1,60.5,24.0,9.0,0.0,"340,194",NaN,NaN,NaN
5,AL,Alabama,State,1960,"3,266,740",6.7,64.5,28.0,8.0,-1.0,"408,343",NaN,NaN,NaN
6,AL,Alabama,State,1970,"3,444,165",5.4,68,28.0,7.0,-1.0,"496,555",NaN,NaN,NaN
7,AL,Alabama,State,1980,"3,893,888",13.1,76.9,28.0,7.0,0.0,"555,723",NaN,NaN,NaN
8,AL,Alabama,State,1990,"4,040,587",3.8,79.8,27.0,7.0,0.0,"580,373",NaN,NaN,NaN
9,AL,Alabama,State,2000,"4,447,100",10.1,87.8,28.0,7.0,0.0,"637,304",NaN,NaN,NaN

In [4]:
state_df.columns

Index(['State ', 'State_Full', 'Geography Type', 'Year', 'Resident Population',
       'Percent Change in Resident Population', 'Resident Population Density',
       'Resident Population Density Rank', 'Number of Representatives',
       'Change in Number of Representatives',
       'Average Apportionment Population Per Representative', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [5]:
state_df.drop(['Resident Population Density Rank','Number of Representatives',
               'Change in Number of Representatives','Change in Number of Representatives', 
              'Average Apportionment Population Per Representative',
              'Unnamed: 11','Unnamed: 12','Unnamed: 13'], axis=1, inplace=True)
state_df.head()

,State,State_Full,Geography Type,Year,Resident Population,Percent Change in Resident Population,Resident Population Density
0,AL,Alabama,State,1910,"2,138,093",16.9,42.2
1,AL,Alabama,State,1920,"2,348,174",9.8,46.4
2,AL,Alabama,State,1930,"2,646,248",12.7,52.3
3,AL,Alabama,State,1940,"2,832,961",7.1,55.9
4,AL,Alabama,State,1950,"3,061,743",8.1,60.5

In [7]:
state_df.rename(columns={'State_Full':'State Full'}, inplace=True)
state_df.head()

,State,State Full,Geography Type,Year,Resident Population,Percent Change in Resident Population,Resident Population Density
0,AL,Alabama,State,1910,"2,138,093",16.9,42.2
1,AL,Alabama,State,1920,"2,348,174",9.8,46.4
2,AL,Alabama,State,1930,"2,646,248",12.7,52.3
3,AL,Alabama,State,1940,"2,832,961",7.1,55.9
4,AL,Alabama,State,1950,"3,061,743",8.1,60.5

In [8]:
state_df.drop(['Resident Population Density'], axis=1, inplace=True)
state_df.head()

,State,State Full,Geography Type,Year,Resident Population,Percent Change in Resident Population
0,AL,Alabama,State,1910,"2,138,093",16.9
1,AL,Alabama,State,1920,"2,348,174",9.8
2,AL,Alabama,State,1930,"2,646,248",12.7
3,AL,Alabama,State,1940,"2,832,961",7.1
4,AL,Alabama,State,1950,"3,061,743",8.1

In [10]:
state_df = state_df.set_index(['Geography Type'])
state_df.head()

,State,State Full,Year,Resident Population,Percent Change in Resident Population
Geography Type,,,,,
State,AL,Alabama,1910,"2,138,093",16.9
State,AL,Alabama,1920,"2,348,174",9.8
State,AL,Alabama,1930,"2,646,248",12.7
State,AL,Alabama,1940,"2,832,961",7.1
State,AL,Alabama,1950,"3,061,743",8.1

In [18]:
state_df.drop(index=['Nation', 'Region'], inplace=True)

In [19]:
state_df.head()

,State,State Full,Year,Resident Population,Percent Change in Resident Population
Geography Type,,,,,
State,AL,Alabama,1910,"2,138,093",16.9
State,AL,Alabama,1920,"2,348,174",9.8
State,AL,Alabama,1930,"2,646,248",12.7
State,AL,Alabama,1940,"2,832,961",7.1
State,AL,Alabama,1950,"3,061,743",8.1

In [20]:
state_df.to_csv('../Resources/state_popdensity_cleaned_v1.csv', index=False)