In [17]:
import pandas as pd

# Import our input dataset
fire_df = pd.read_csv('../Resources/wildfire_v2_clean_data.csv')
fire_df.head()

,fire_size,fire_size_class,fire_cause,latitude,longitude,state,discovery_month,discovery_date,discovery_year,Vegetation,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
0,10.0,C,Missing/Undefined,18.105072,-66.753044,PR,Feb,1/12/2007,2007,12,...,3.250413,78.216590,76.793750,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923
1,3.0,B,Arson,35.038330,-87.610000,TN,Dec,11/11/2006,2006,15,...,2.122320,70.840000,65.858911,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355
2,60.0,C,Arson,34.947800,-88.722500,MS,Feb,1/30/2004,2004,16,...,3.369050,75.531629,75.868613,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544
3,1.0,B,Debris Burning,39.641400,-119.308300,NV,Jun,5/7/2005,2005,0,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
4,2.0,B,Miscellaneous,30.700600,-90.591400,LA,Sep,8/23/1999,1999,12,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633

In [10]:
def counts(column):
    column=column.value_counts()
    return column.sort_index()

In [11]:
counts(fire_df.discovery_year)

1991     106
1992    1763
1993    1870
1994    2072
1995    2079
1996    2303
1997    1546
1998    1998
1999    2880
2000    2987
2001    2310
2002    2156
2003    1766
2004    1793
2005    3080
2006    3576
2007    2991
2008    2683
2009    2209
2010    2444
2011    2952
2012    2218
2013    1780
2014    1789
2015    2016
Name: discovery_year, dtype: int64

In [12]:
counts(fire_df.fire_size)

0.51         27
0.52         21
0.53         22
0.54         33
0.55         32
             ..
517078.00     1
537627.00     1
538049.00     1
558198.30     1
606945.00     1
Name: fire_size, Length: 6092, dtype: int64

In [13]:
counts(fire_df.fire_size_class)

B    36522
C    10811
D     1394
E      700
F     1968
G     3972
Name: fire_size_class, dtype: int64

In [14]:
counts(fire_df.fire_cause)

Arson                 9724
Campfire              1367
Children              1280
Debris Burning       14278
Equipment Use         4107
Fireworks              223
Lightning             8218
Miscellaneous         8344
Missing/Undefined     5063
Powerline              483
Railroad              1021
Smoking               1181
Structure               78
Name: fire_cause, dtype: int64

In [16]:
counts(fire_df.Temp_pre_30)

-49.210526    2
-18.800000    1
-16.078723    1
-15.651163    1
-14.600000    1
             ..
 37.197561    1
 37.280353    1
 40.000000    1
 41.677820    1
 46.600000    1
Name: Temp_pre_30, Length: 35523, dtype: int64

In [15]:
fire_df.columns.to_list()

['fire_size',
 'fire_size_class',
 'fire_cause',
 'latitude',
 'longitude',
 'state',
 'discovery_month',
 'discovery_date',
 'discovery_year',
 'Vegetation',
 'fire_mag',
 'Temp_pre_30',
 'Temp_pre_15',
 'Temp_pre_7',
 'Temp_cont',
 'Wind_pre_30',
 'Wind_pre_15',
 'Wind_pre_7',
 'Wind_cont',
 'Hum_pre_30',
 'Hum_pre_15',
 'Hum_pre_7',
 'Hum_cont',
 'Prec_pre_30',
 'Prec_pre_15',
 'Prec_pre_7',
 'Prec_cont',
 'remoteness']

In [19]:
raw_df=pd.read_csv("../Resources/FW_Veg_Rem_Combined.csv")
raw_df

,Unnamed: 0,Unnamed: 0.1,fire_name,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
0,0,0,NaN,10.0,C,Missing/Undefined,18.105072,-66.753044,PR,2/11/2007,...,3.250413,78.216590,76.793750,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923
1,1,1,NaN,3.0,B,Arson,35.038330,-87.610000,TN,12/11/2006,...,2.122320,70.840000,65.858911,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355
2,2,2,NaN,60.0,C,Arson,34.947800,-88.722500,MS,2/29/2004,...,3.369050,75.531629,75.868613,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544
3,3,3,WNA 1,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
4,4,4,NaN,2.0,B,Miscellaneous,30.700600,-90.591400,LA,9/22/1999,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55362,55362,55362,IMPACT,6289.0,G,Missing/Undefined,39.180000,-96.784167,KS,10/15/2015,...,3.804803,65.671410,61.839572,54.625698,55.042092,35.4,8.2,0.0,249.0,0.331501
55363,55363,55363,BUTTE,70868.0,G,Missing/Undefined,38.342719,-120.695967,CA,9/9/2015,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.124683
55364,55364,55364,WILLOW,5702.0,G,Arson,37.262607,-119.511139,CA,7/25/2015,...,2.529158,43.755556,43.755556,44.443975,35.924406,0.0,0.0,0.0,0.0,0.097682
55365,55365,55365,BARKER,3261.0,F,Miscellaneous,40.604300,-123.080450,CA,7/31/2015,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.178206
55366,55366,55366,VALLEY,76067.0,G,Missing/Undefined,38.843988,-122.759707,CA,9/12/2015,...,1.208073,50.521912,46.310627,37.178571,58.063802,0.3,0.3,0.0,18.8,0.167305

In [64]:
json_df=raw_df.loc[:,"fire_name":"longitude"].drop(["fire_size","stat_cause_descr","fire_size_class"],axis=1).reset_index(drop=True)
json_df

      fire_name   latitude   longitude
0           NaN  18.105072  -66.753044
1           NaN  35.038330  -87.610000
2           NaN  34.947800  -88.722500
3        WNA  1  39.641400 -119.308300
4           NaN  30.700600  -90.591400
...         ...        ...         ...
55362    IMPACT  39.180000  -96.784167
55363     BUTTE  38.342719 -120.695967
55364    WILLOW  37.262607 -119.511139
55365    BARKER  40.604300 -123.080450
55366    VALLEY  38.843988 -122.759707

[55367 rows x 3 columns]

In [60]:
marker={}
for la in json_df.latitude.values:
    for lo in json_df.longitude.values:
        location=[la,lo]

KeyboardInterrupt:

In [ ]:
location[0:1]

In [ ]:
for name in json_df.fire_name.values:

In [65]:
json_df.to_csv(r"../Resources/fire.csv")